.swatch {
  display: flex;

  .color {
    align-items: flex-end;
    color: $white;
    display: flex;
    height: 190px;
    margin: 0 15px;
    text-align: center;
    width: 90px;

    p {
      width: 100%;
    }
  }
}
