.swatch {
  display: flex;

  .color {
    align-items: flex-end;
    color: $white;
    display: flex;
    height: 190px;
    margin: 0 10px;
    text-align: center;
    width: 95px;

    p {
      width: 100%;
    }
  }
}

.scheme {
  flex: 1;
  margin: 6px;
  padding: 0 0 15px;

  p {
    margin: 5px 0;
    padding: 0 15px;
  }
}
